body{
    transition: background-color 0.3, color 0.3;
    background-color: rgb(253, 221, 219);
}


section{
    border-color:rgb(83, 34, 57);
    border: 5px;
    text-align: center;
    max-width: 500px;
    margin: 50px auto;
    background-color: rgb(219, 107, 137);
    color: rgb(247, 227, 236);
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
    
    
    
}
form{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

input{
    margin-bottom: 10px;
}

.confirma{
    margin-top: 10px;
    width: 100px;
    color: rgb(202, 107, 131);
   
}
.dark{
    margin-top: 10px;
    width: 100px;
    background-color: rgb(83, 34, 57);
    color: rgb(250, 205, 227);
}
.dark-mode{
    background-color: black;
    color: white;
}

